# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake stuff
_deps/**
*.cmake
**/CMakeCache.txt
**/Makefile
**/CMakeFiles/**
**/test-graph
**/main-graph
**/test-parsing
**/main-parsing
**/test-dijkstra
**/main-dijkstra
**/test-traversals
**/main-traversals
**/test-visualizer
**/main-visualizer

#VSCode stuff
.vscode
